---
import Layout from "../../layouts/Layout.astro";

---

<Layout title="Equipe pastoral - CB Atos 29">
    <div class="w-full flex items-center justify-center pt-8">
        <div class="max-w-[1280px]">
            <h1>Equipe pastoral</h1>
            <div class="grid grid-cols-1 lg:grid-cols-2">
                <dir>
                    <h1>Deivison Bahia</h1>
                </dir>
                
                <dir>
                    <h1>Luange Bahia</h1>
                </dir>
            </div>
        </div>  
    </div>
</Layout>