---
import LayoutDashboard from "../../../layouts/LayoutDashboard.astro"
---

<LayoutDashboard title="EBD - CB Atos 29">
  <section class="flex h-full w-full">
    <aside>
      <h1>CB Atos 29</h1>
    </aside>
  </section>
</LayoutDashboard>
