---
import Layout from "../../../layouts/Layout.astro"
import { postIntentionToEnrollEBD } from "../../../actions/post"
import FormIntentionToEnroll from "../../../components/IntentionToEnroll"

const { ebd: selectedClass } = Astro.params

const phoneRegex = /^\(?\d{2}\)?[-.\s]?\d{4,5}[-.\s]?\d{4}$/
const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
let errors = {
  name: "",
  email: "",
  phone: "",
  enrollmentIntention: "",
  coursesParticipated: [],
}

if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    const name = data.get("name")?.toString()
    const email = data.get("email")?.toString()
    const phone = data.get("phone")?.toString()
    const enrollmentIntention = data.get("enrollmentIntention")?.toString()
    const coursesParticipated = data.getAll("coursesParticipated")

    const errors = {} as any

    if (!name || name.trim() === "") {
      errors.name = "Please enter a username."
    }

    if (!email || !emailRegex.test(email)) {
      errors.email = "Invalid email address."
    }

    if (!phone || !phoneRegex.test(phone)) {
      errors.phone = "Invalid phone number."
    }

    const hasErrors = Object.keys(errors).length > 0

    if (!hasErrors) {
      const formData = {
        _type: "ebdRegistration",
        name,
        email,
        phone,
        enrollmentIntention,
        coursesParticipated,
      }
      const response = await postIntentionToEnrollEBD(formData)
      Astro.redirect(`/ebd/${selectedClass}/success`)
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message)
    }
  }
}
---

<Layout title="EBD - CB Atos 29">
  <div class="w-full max-w-[1280px] px-8 pt-8 flex flex-col gap-4">
    <a href={`/ebd`} class="flex gap-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6"
      >
        <path
          fill-rule="evenodd"
          d="M9.53 2.47a.75.75 0 0 1 0 1.06L4.81 8.25H15a6.75 6.75 0 0 1 0 13.5h-3a.75.75 0 0 1 0-1.5h3a5.25 5.25 0 1 0 0-10.5H4.81l4.72 4.72a.75.75 0 1 1-1.06 1.06l-6-6a.75.75 0 0 1 0-1.06l6-6a.75.75 0 0 1 1.06 0Z"
          clip-rule="evenodd"></path>
      </svg>
      Voltar
    </a>
    <h1 class="font-bold text-gray-700">Escola bíblica dominical</h1>
    <FormIntentionToEnroll client:load selectedClassName={selectedClass} />
  </div>
</Layout>
