---
import Navigation from '../Navigation'
---

<header class="w-full h-16 flex items-center justify-center bg-gradient-to-r from-primary-light to-primary-dark">
  <nav class="max-w-[1280px] w-full flex items-center justify-between">
    <img src="/cbatos29logo.png" alt="comunidade bastista Atos 29 logo">
    <Navigation />
  </nav>
</header>