---
import { Navigation } from "../Navigation"

const route = Astro.url
---

<header
  class="fixed z-50 w-full h-16 flex items-center justify-center bg-gradient-to-r from-primary-light to-primary-dark"
>
  <nav class="max-w-[1280px] w-full flex items-center justify-between">
    <a href="/" class="ml-8">
      <img src="/cbatos29logo.png" alt="comunidade bastista Atos 29 logo" />
    </a>
    <Navigation client:load pathname={route.pathname} />
  </nav>
</header>
