---

---

<footer
  class="w-full p-4 bg-gradient-to-b from-primary-light to-primary-dark text-white flex flex-col gap-2 justify-center items-center mt-8"
>
  <img
    src="/cbatos29logo.png"
    alt="comunidade bastista Atos 29 logo"
    class="bg-cover w-44 h-16"
  />
  <div class="w-full flex flex-col justify-center items-center gap-2">
    <span class="font-light">Domingo 17:00 e 19:30</span>
    <a
      href="https://maps.app.goo.gl/ePNdnfCWE5Qzk2Ma7"
      target="_blank"
      class="flex flex-col"
    >
      <span class="text-center font-light flex gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"></path>
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1 1 15 0Z"
          ></path>
        </svg>
        R. Prof. Carlos Boisson, 495
      </span>
      <span class="text-center font-light">Campo Grande, Rio de Janeiro RJ</span
      >
      <span class="text-center font-light">CEP 23090-330</span>
    </a>
  </div>
  <span class="h-[1px] w-full bg-white"></span>
  <div class="w-full flex flex-col items-center justify-center gap-4">
    <span class="text-xs font-light">CBAtos29 Todos os direitos reservados</span
    >
    <a
      href="#header"
      class="bg-white w-full max-w-28 flex items-center justify-center px-4 py-1 rounded-full text-primary-light font-semibold cursor-pointer"
    >
      Ir ao topo
    </a>
  </div>
</footer>
