---

---

<footer
  class="w-full p-4 bg-gradient-to-b from-primary-light to-primary-dark text-white flex flex-col gap-2 justify-center items-center mt-8"
>
  <img
    src="/cbatos29logo.png"
    alt="comunidade bastista Atos 29 logo"
    class="bg-cover w-44 h-16"
  />
  <span class="font-light">Domingo 17:00 e 19:30</span>
  <span class="text-center font-light"
    >R. Prof. Carlos Boisson, 495 <br /> Campo Grande, Rio de Janeiro RJ <br /> CEP
    23090-330</span
  >
  <span class="h-[1px] w-full bg-white"></span>
  <span class="text-xs font-light">CBAtos29 Todos os direitos reservados</span>
  <a
    href="#header"
    class="bg-white px-4 py-1 rounded-full text-primary-light font-semibold cursor-pointer"
  >
    Ir ao topo
  </a>
</footer>
